@charset "UTF-8";

body {
  position: relative;
}

body > .black-bg {
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: 0.3s;
}

body > .black-bg:hover {
  cursor: pointer;
}

body > .black-bg.active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.big-text {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
}

.big-text + a {
  color: #1871C3;
}

img {
  max-width: 100%;
}

span.material-icons {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.grey-block {
  width: 100%;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #DEDEDE;
}

.circle-btn {
  width: 25px;
  height: 25px;
  padding: 10px;
  border-radius: 100%;
  border: 1px solid #DEDEDE;
  transition: 0.3s;
}

.circle-btn:hover {
  background-color: #DEDEDE;
  transition: 0.3s;
  cursor: pointer;
}

.blue-text {
  color: #1871C3;
}

.bold-text {
  font-weight: bold;
}

.fz-22 {
  font-size: 22px !important;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.grey-text {
  color: #989898;
}

.thin-frame {
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  padding: 30px;
}

.white-block {
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  margin: 40px 0;
  box-sizing: border-box;
}

.white-block_grey-strip {
  padding: 0;
}

.white-block_grey-strip .grey-strip {
  background-color: #989898;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

.white-block_grey-strip .grey-strip th:first-child {
  border-radius: 10px 0 0 0;
}

.white-block_grey-strip .grey-strip th:last-child {
  border-radius: 0 10px 0 0;
}

.white-block_grey-strip table {
  width: 100%;
}

.white-block_grey-strip td,
.white-block_grey-strip th {
  text-align: left;
  padding: 20px 40px;
  vertical-align: middle;
  font-weight: 400;
}

.white-block_grey-strip td {
  padding: 30px 40px;
}

.white-block_grey-strip tr {
  border-bottom: 1px solid #989898;
}

.white-block_grey-strip tr:last-child {
  border: 0;
}

.white-block_grey-strip img {
  width: 200px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

.white-block_grey-strip a:hover {
  color: #1871C3;
}

.order-table td,
.order-table th {
  padding: 20px 30px;
}

.order-table td {
  padding: 30px;
}

.transparent-btn a {
  padding: 10px 20px;
  color: #1871C3;
  border: 2px solid #1871C3;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
}

.transparent-btn a:hover {
  background-color: #1871C3;
  color: #fff;
  transition: 0.3s;
}

.main-btn {
  border-radius: 10px;
  border: 0;
  background-color: #1871C3;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  transition: 0.3s;
  text-align: center;
}

.main-btn:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  color: #1871C3;
  transition: 0.3s;
}

.main-btn:disabled {
  background-color: rgba(24, 113, 195, 0.5);
}

.main-btn:disabled:hover {
  background-color: rgba(24, 113, 195, 0.5);
  box-shadow: none;
  color: #fff;
}

.main-btn.main-btn_red {
  background-color: #D32F2F;
}

.main-btn.main-btn_red:hover {
  color: #D32F2F;
  background-color: #fff;
}

.main-btn.main-btn_red:disabled {
  background-color: rgba(211, 47, 47, 0.5);
}

.main-btn.main-btn_red:disabled:hover {
  background-color: rgba(211, 47, 47, 0.5);
  box-shadow: none;
  color: #fff;
}

.flex {
  width: auto;
  height: auto;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.blue-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1871C3;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.news-btn {
  border-radius: 10px;
  border: 0;
  background-color: #E6ECFF;
  color: #3363FF;
  width: 100%;
  padding: 15px 0;
  transition: 0.3s;
}

.news-btn:hover {
  background-color: #cdd9ff;
  transition: 0.3s;
}

.btn-more {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #1871C3;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  transition: 0.3s;
}

.btn-more:hover {
  background-color: #1871C3;
  color: #fff;
  transition: 0.3s;
}

.main-tabs ul {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  text-align: center;
}

.main-tabs ul li a {
  display: block;
  color: #989898;
  padding: 15px;
  transition: 0.3s;
  border: 1px solid #989898;
  border-right: 0;
}

.main-tabs ul li a:hover {
  cursor: pointer;
  background-color: #989898;
  color: #fff;
  transition: 0.3s;
}

.main-tabs ul li:first-child a {
  border-radius: 10px 0 0 10px;
}

.main-tabs ul li:last-child a {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #989898;
}

.main-tabs ul li.active a {
  background-color: #1871C3;
  color: #fff;
  border: 1px solid #1871C3;
}

.tabs__item {
  margin-top: 30px;
}

.black-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

section {
  margin-top: 60px;
}

section:first-child {
  margin-top: 0;
}

.section-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-title .section-title__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  background-color: #fff;
  z-index: 2;
  padding-right: 20px;
}

.section-title .section-title__hr {
  width: 100%;
  height: 3px;
  background-color: #D32F2F;
  position: absolute;
  top: 15px;
  left: 0;
}

.section-title .section-title__more {
  background-color: #fff;
  position: relative;
  color: #1871C3;
  z-index: 2;
  padding-left: 20px;
  margin-top: 2px;
}

.section-title .section-title__more a {
  color: inherit;
  transition: 0.3s;
}

.section-title .section-title__more a:hover {
  color: #989898;
  transition: 0.3s;
}

.grid-3fr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.grid-4fr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.height-text {
  line-height: 20px;
}

.backcall .backcall__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  border: 2px solid #989898;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.3s border-color;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #1871C3;
  transition: 0.3s border-color;
}

textarea {
  height: 300px;
  min-height: 40px;
  max-height: 500px;
  resize: vertical;
}

label {
  display: block;
  color: #989898;
  margin-bottom: 20px;
  transition: 0.3s;
}

label.active {
  color: #1871C3;
  transition: 0.3s;
}

.modal {
  visibility: hidden;
  opacity: 0;
  width: 400px;
  height: auto;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 5;
  transform: scale(1.3);
  position: fixed;
  left: calc(50% - 200px);
  top: calc(50% - 250px);
  transition: 0.3s;
  box-sizing: border-box;
}

.modal .modal__desc {
  margin-top: 30px;
}

.modal .modal__desc input {
  width: 100%;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: 0.3s;
}

.modal .modal__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.login-modal p,
.register-modal p {
  text-align: center;
  margin-top: 15px;
  transition: 0.3s;
}

.login-modal p:hover,
.register-modal p:hover {
  cursor: pointer;
  color: #989898;
  transition: 0.3s;
}

.auto-brand .auto-brand__item {
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
}

.auto-brand .auto-brand__item .auto-brand__letter {
  margin-right: 15px;
  color: #1871C3;
  font-weight: bold;
}

.auto-brand .auto-brand__item .auto-brand__brands li {
  margin-bottom: 10px;
}

.auto-brand .auto-brand__item .auto-brand__brands li a {
  transition: 0.3s;
}

.auto-brand .auto-brand__item .auto-brand__brands li a:hover {
  color: #1871C3;
  transition: 0.3s;
}

.header-contact {
  background-color: #2B2B2B;
  color: #fff;
  padding: 20px 0;
  font-weight: 400;
  font-size: 14px;
}

.header-contact .wrapper {
  display: flex;
  justify-content: space-between;
}

.header-contact a {
  color: #fff;
}

.header-contact .header-contact__item {
  display: flex;
  align-items: center;
}

.header-contact .header-contact_left {
  display: flex;
}

.header-contact .header-contact_left .header-contact__item {
  margin-left: 30px;
}

.header-contact .header-contact_left .header-contact__item .material-icons {
  margin-right: 10px;
}

.header-contact .header-contact_left .header-contact__item:first-child {
  margin-left: 0;
}

.header-contact .header-contact_right {
  display: flex;
}

.header-contact .header-contact_right .header-contact_right__auth {
  border: 1px solid #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 15px;
  transition: 0.3s;
}

.header-contact .header-contact_right .header-contact_right__auth:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}

.header-contact .header-contact_right .header-contact_right__auth .material-icons {
  margin-left: 5px;
}

.header-contact .header-contact_right .lang-change {
  position: relative;
}

.header-contact .header-contact_right .lang-change:hover {
  cursor: pointer;
}

.header-contact .header-contact_right .lang-change > .material-icons {
  transition: 0.3s;
}

.header-contact .header-contact_right .lang-change.active > .material-icons {
  transform: rotate(180deg);
  transition: 0.3s;
}

.header-contact .header-contact_right .lang-change.active .lang-change__items {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s;
}

.header-contact .header-contact_right .lang-change .lang-change__items {
  position: absolute;
  top: 40px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(40px);
  background-color: #fff;
  transition: 0.3s;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.header-contact .header-contact_right .lang-change .lang-change__items .lang-change__item {
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

.header-contact .header-contact_right .lang-change .lang-change__items .lang-change__item:last-child {
  margin-bottom: 0;
}

.header-contact .header-contact_right .lang-change .lang-change__items .lang-change__item a {
  padding: 10px 20px;
  color: #000;
}

.header-contact .header-contact_right .lang-change .lang-change__items .lang-change__item.active,
.header-contact .header-contact_right .lang-change .lang-change__items .lang-change__item:hover {
  background-color: #DEDEDE;
}

.header-contact .material-icons {
  font-size: 16px;
}

.header {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header .header__menu__basket {
  display: flex;
  height: 100%;
}

.header .header__logo a {
  background: #0F0397;
  background: linear-gradient(to top right, #0F0397 0%, #DC0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 52px;
}

.header .header__logo img {
  width: 130px;
}

.header .header__menu > ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 100%;
}

.header .header__menu > ul li {
  position: relative;
}

.header .header__menu > ul li a {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
  padding: 15px 20px;
  border-radius: 10px;
}

.header .header__menu > ul li a:hover {
  color: #1871C3;
  transition: 0.3s;
}

.header .header__menu > ul li a.active {
  color: #1871C3;
}

.header .header__menu > ul li .header__submenu__item {
  min-width: 250px;
  padding: 10px 0;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: 0.3s;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 12;
}

.header .header__menu > ul li .header__submenu__item li > a {
  font-weight: normal;
  font-size: 18px;
}

.header .header__menu > ul li .header__submenu__item li > a:hover {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.header .header__menu > ul > li:last-child {
  margin-right: 40px;
}

.header .header__menu > ul .header__submenu.active .header__submenu__item {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: 0.3s;
}

.header .header__basket {
  position: relative;
  width: 50px;
  height: 100%;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #1871C3;
  color: #fff;
  transition: 0.3s;
}

.header .header__basket:hover {
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.header .header__basket:hover .material-icons {
  color: #1871C3;
}

.header .header__basket .header__basket__count {
  width: auto;
  height: auto;
  top: -10px;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  background-color: #D32F2F;
  border-radius: 5px;
  min-width: 15px;
  padding: 0 5px;
  height: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.main-slider-wrapper {
  width: 100%;
  height: 550px;
  position: relative;
}

.main-slider-wrapper .slick-slide {
  height: 550px !important;
}

.main-slider-wrapper .main-slider {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.main-slider-wrapper .main-slider__item {
  position: relative;
}

.main-slider-wrapper .main-slider__item img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.main-slider-wrapper .main-slider__item span,
.main-slider-wrapper .main-slider__item .one-news__title,
.main-slider-wrapper .main-slider__item .one-news__desc,
.main-slider-wrapper .main-slider__item .one-news__date {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

.main-slider-wrapper .main-slider__item .one-news__desc,
.main-slider-wrapper .main-slider__item .one-news__date {
  box-sizing: border-box;
  padding: 0 300px 60px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  align-items: flex-end;
  text-align: center;
}

.main-slider-wrapper .main-slider__item .one-news__date {
  color: #989898;
  padding-bottom: 20px;
}

.main-slider-wrapper .main-slider__item .black-bg {
  border-radius: 20px;
}

.main-slider-wrapper .main-slider__prev-item,
.main-slider-wrapper .main-slider__next-item {
  width: 80px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-40px);
  visibility: hidden;
}

.main-slider-wrapper .main-slider__prev-item:hover,
.main-slider-wrapper .main-slider__next-item:hover {
  cursor: pointer;
  color: #989898;
}

.main-slider-wrapper .main-slider__next-item {
  left: auto;
  right: 0;
  transform: translateX(40px);
}

.main-slider-wrapper:hover .main-slider__prev-item,
.main-slider-wrapper:hover .main-slider__next-item {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.one-news .black-bg {
  -webkit-backdrop-filter: saturate(180%) blur(5px);
          backdrop-filter: saturate(180%) blur(5px);
}

.edit {
  position: relative;
}

.edit .edit__btn {
  opacity: 0;
  visibility: hidden;
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  padding: 7px 8px;
  transition: 0.3s;
  z-index: 100;
}

.edit .edit__btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.edit:hover .edit__btn {
  opacity: 1;
  visibility: visible;
}

.news-card {
  grid-gap: 75px;
}

.news-card .news-card__item {
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
}

.news-card .news-card__item img {
  width: 100%;
  height: 196px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.news-card .news-card__item .news-card__text-btn-wrapper {
  padding: 25px 35px;
}

.news-card .news-card__item .news-card__text-btn-wrapper .news-card__text-wrapper {
  height: 160px;
  margin-bottom: 10px;
}

.news-card .news-card__item .news-card__text-btn-wrapper .news-card__text-wrapper .news-card__text-title {
  font-size: 30px;
  font-weight: bold;
}

.news-card .news-card__item .news-card__text-btn-wrapper .news-card__text-wrapper .news-card__text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* сколько оставить строк */
  -webkit-box-orient: vertical;
  font-size: 18px;
  margin-top: 15px;
  line-height: 24px;
  overflow: hidden;
}

.card {
  position: relative;
  perspective: 150rem;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 5px;
  transition: 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.card-front {
  width: 100%;
  height: 100%;
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateX(0deg);
}

.stock-card .stock-card__item {
  position: relative;
  border-radius: 10px;
  height: 277.5px;
  transition: 0.3s;
  perspective: 150rem;
}

.stock-card .stock-card__item .card-back .stock-card__text {
  color: #000;
}

.stock-card .stock-card__item .stock-card__text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  z-index: 2;
  font-weight: bold;
  font-size: 22px;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.stock-card .stock-card__item .stock-card__desc {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 30px;
  box-sizing: border-box;
}

.stock-card .stock-card__item .stock-card__date {
  margin-top: 10px;
}

.stock-card .stock-card__item .stock-card__date span {
  font-weight: bold;
}

.stock-card .stock-card__item img {
  width: 100%;
  height: 277.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.stock-card .stock-card__item .black-bg {
  border-radius: 8px;
}

.about-company p {
  line-height: 30px;
  font-size: 20px;
}

.footer {
  margin-top: 60px;
  background-color: #2B2B2B;
  padding: 40px 0;
  color: #fff;
}

.footer .footer-part_top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.footer .footer-part_top .footer__item .footer__item__title {
  color: #1871C3;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.footer .footer-part_top .footer__item .footer__item__content {
  line-height: 25px;
  text-align: center;
}

.footer .footer-part_top .footer__item .footer__item__content a {
  color: #fff;
  transition: 0.3s;
}

.footer .footer-part_top .footer__item .footer__item__content a:hover {
  color: #989898;
  transition: 0.3s;
}

.footer .footer-part_bottom {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.social-icons .social-icons__item {
  display: block;
  border-radius: 100%;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons .social-icons__item svg {
  width: 15px;
  height: 15px;
}

.social-icons .social-icons__item:first-child {
  justify-self: end;
}

.social-icons .social-icons__item:hover {
  background-color: #fff;
}

.social-icons .social-icons__item:hover svg {
  color: #2B2B2B;
}

.about-company__statistic {
  width: 100%;
  height: 435px;
  position: relative;
  border-radius: 20px;
}

.about-company__statistic .black-bg {
  border-radius: 20px;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
          backdrop-filter: saturate(180%) blur(5px);
}

.about-company__statistic img {
  width: 100%;
  height: 435px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.about-company__statistic .about-company__statistic__items {
  position: absolute;
  padding: 0 60px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
}

.about-company__statistic .about-company__statistic__items .about-company__statistic__item {
  font-weight: bold;
  text-align: center;
}

.about-company__statistic .about-company__statistic__items .about-company__statistic__item .about-company__statistic__item__title {
  color: #FBA100;
  font-size: 100px;
}

.about-company__statistic .about-company__statistic__items .about-company__statistic__item .about-company__statistic__item__text {
  color: #fff;
  font-size: 30px;
}

.contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.contacts-wrapper .contacts-wrapper_left {
  justify-self: start;
}

.contacts-wrapper .contacts-wrapper_left .contacts-wrapper_left__item {
  margin-bottom: 30px;
}

.contacts-wrapper .contacts-wrapper_left .contacts-wrapper_left__item .contacts-wrapper_left__item__title {
  font-size: 30px;
  font-weight: bold;
  color: #1871C3;
  margin-bottom: 10px;
}

.contacts-wrapper .contacts-wrapper_left .contacts-wrapper_left__item .contacts-wrapper_left__item__text {
  font-size: 18px;
}

.contacts-wrapper .contacts-wrapper_left .contacts-wrapper_left__item .social-icons {
  width: 94px;
}

.contacts-wrapper .contacts-wrapper_left .contacts-wrapper_left__item .social-icons .social-icons__item {
  border-color: #2B2B2B;
  transition: 0.3s;
}

.contacts-wrapper .contacts-wrapper_left .contacts-wrapper_left__item .social-icons .social-icons__item:hover {
  background-color: #2B2B2B;
  transition: 0.3s;
}

.contacts-wrapper .contacts-wrapper_left .contacts-wrapper_left__item .social-icons .social-icons__item:hover svg {
  color: #fff;
}

.contacts-wrapper .contacts-wrapper_right {
  justify-self: end;
}

.admin-controller {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 1000;
}

.admin-controller .admin-controller__btn {
  position: relative;
  background-color: #2B2B2B;
  border-radius: 100px;
  transition: 0.3s;
  padding: 10px;
}

.admin-controller .admin-controller__btn .material-icons {
  font-size: 36px;
  color: #fff;
}

.admin-controller .admin-controller__btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
}

.admin-controller .admin-controller__panel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 20px 0;
  background-color: #2B2B2B;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  transform: translateY(40px);
  transition: 0.3s;
}

.admin-controller .admin-controller__panel a {
  color: #fff;
}

.admin-controller .admin-controller__panel.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s;
}

.admin-controller .admin-controller__panel .admin-controller__panel__item a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  align-items: center;
  display: grid;
  grid-template-columns: 30px 150px;
  grid-gap: 10px;
  transition: 0.3s;
}

.admin-controller .admin-controller__panel .admin-controller__panel__item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.pagination {
  display: flex;
  margin-top: 30px;
}

.pagination li {
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.pagination li:hover {
  background-color: #DEDEDE;
  transition: 0.3s;
}

.pagination li.active {
  background-color: #1871C3;
  box-shadow: none;
  color: #fff;
}

.pagination li a,
.pagination li span {
  display: block;
  padding: 20px 15px;
  font-weight: bold;
}

.maintenance-progress ul {
  display: flex;
}

.maintenance-progress ul li a {
  width: auto;
  height: auto;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maintenance-progress ul li a .maintenance-progress__item__circle {
  width: 50px;
  height: 50px;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100%;
  background-color: #989898;
  transition: 0.3s;
}

.maintenance-progress ul li a .maintenance-progress__item__text {
  margin: 0 10px;
}

.maintenance-progress ul li a .maintenance-progress__item__next-item {
  color: #989898;
  margin-right: 10px;
}

.maintenance-progress ul li a .maintenance-progress__item__next-item .material-icons {
  font-size: 30px;
}

.maintenance-progress ul li.active a {
  color: #1871C3;
}

.maintenance-progress ul li.active .maintenance-progress__item__circle {
  background-color: #1871C3;
}

.maintenance-progress ul li.maintenance-progress__item_checked a {
  color: #18C35C;
}

.maintenance-progress ul li.maintenance-progress__item_checked .maintenance-progress__item__circle {
  background-color: #18C35C;
}

.maintenance-progress ul li:hover .maintenance-progress__item__circle {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.auto-model ul {
  display: grid;
  grid-template: repeat(3, auto)/repeat(7, 150px);
  grid-auto-flow: column;
}

.auto-model ul .auto-model__item {
  box-sizing: border-box;
}

.auto-model ul .auto-model__item a {
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.auto-model ul .auto-model__item:hover {
  background-color: #DEDEDE;
}

.auto-model ul .auto-model__item:hover a {
  color: #1871C3;
}

.maintenance-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.maintenance-title .maintenance-title__item {
  display: flex;
  align-items: center;
}

.maintenance-title .maintenance-title__auto-data img {
  width: 200px;
}

.maintenance-title .maintenance-title__auto-data .maintenance-title__auto-data__text {
  margin-left: 30px;
}

.maintenance-title .maintenance-title__auto-data .maintenance-title__auto-data__text .maintenance-title__auto-data__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.maintenance-title .maintenance-title__auto-data .maintenance-title__auto-data__text .maintenance-title__auto-data__modification {
  font-size: 18px;
  color: #989898;
}

.maintenance-title .maintenance-title__button {
  justify-self: flex-end;
}

.product-catalog-wrapper {
  display: grid;
  grid-template-columns: 250px 900px;
  grid-gap: 50px;
}

.loader svg {
  -webkit-animation-name: loaderAnimation;
          animation-name: loaderAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes loaderAnimation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderAnimation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.product-card-wrapper {
  position: relative;
}

.product-card-wrapper .product-card__loader {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.product-card-wrapper .product-card__loader.active {
  display: flex;
}

.product-card-wrapper .product-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.product-card-wrapper .product-card .product-card__item {
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  height: 372px;
}

.product-card-wrapper .product-card .product-card__item .product-card__img {
  margin-bottom: 30px;
}

.product-card-wrapper .product-card .product-card__item .product-card__img img {
  width: 100%;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-card-wrapper .product-card .product-card__item .product-card__price {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.product-card-wrapper .product-card .product-card__item .product-card__name {
  color: #1871C3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 10px;
  transition: 0.3s;
}

.product-card-wrapper .product-card .product-card__item .product-card__properties {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #989898;
  margin-bottom: 10px;
  height: 64px;
}

.product-card-wrapper .product-card .product-card__item:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.product-card-wrapper .product-card .product-card__item:hover .product-card__name {
  color: #000;
  transition: 0.3s;
}

.filter .filter__item {
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.filter .filter__item .filter__item__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 20px 13px;
  font-weight: bold;
  transition: 0.3s;
  border-bottom: 1px solid #DEDEDE;
  border-radius: 10px;
}

.filter .filter__item .filter__item__title > span.material-icons {
  transition: 0.3s;
  margin-top: -4px;
}

.filter .filter__item .filter__item__title:hover {
  background-color: #DEDEDE;
  transition: 0.3s;
  cursor: pointer;
}

.filter .filter__item .filter__item__content {
  padding: 7px 20px 20px 20px;
}

.filter .filter__item .filter__item__content input {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  color: #000;
}

.filter .filter__item .filter__item__content label {
  margin-bottom: 2px;
  color: #000;
}

.filter .filter__item .filter__item__content label:last-child {
  margin-bottom: 0;
}

.filter .filter__item .filter__item__content .filter__item_number {
  width: auto;
  height: auto;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.filter .filter__item .filter__item__content .filter__item_number .dash {
  color: #DEDEDE;
  margin: 0 10px;
}

.filter .filter__item .filter__item__content .filter__item_number label {
  color: #DEDEDE;
  margin: 0 5px;
}

.filter .filter__item .filter__item__content .filter__item_number label input {
  margin: 0;
  width: 100%;
  border: 1px solid #DEDEDE;
}

.filter .filter__item .filter__item__content .filter__item_number label input:focus {
  border: 1px solid #2B2B2B;
}

.filter .filter__item.active {
  transition: 0.3s;
}

.filter .filter__item.active .filter__item__title > span.material-icons {
  transition: 0.3s;
  transform: rotate(-180deg);
}

.product {
  display: grid;
  grid-template-columns: 300px 850px;
  grid-gap: 50px;
  margin-top: 50px;
}

.product .product__img img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product .product__info .product__text {
  font-size: 24px;
  font-weight: bold;
}

.product .product__info .product__info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 20px;
}

.product .product__info .product__info-wrapper .product__info-item {
  margin-bottom: 10px;
}

.product .product__info .product__info-wrapper .product__price {
  font-size: 22px;
  letter-spacing: 1px;
  padding: 20px 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.product .product__info .product__info-wrapper .product__fabricator-provider {
  margin: 30px 0;
}

.product .product__info .product__info-wrapper .product__fabricator-provider span {
  margin-right: 10px;
}

.product__properties {
  line-height: 30px;
}

.product__properties .product__property {
  display: grid;
  grid-template-columns: 200px 100px;
}

.product__count-btn {
  width: auto;
  height: auto;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.product__count-btn input {
  margin: 0;
  width: 70px;
  height: 46px;
  border: 1px solid #DEDEDE;
  border-radius: 0;
}

.product__count-btn .product__count-btn__add,
.product__count-btn .product__count-btn__remove {
  width: 24px;
  height: 24px;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  border-left: 0;
}

.product__count-btn .product__count-btn__remove {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #DEDEDE;
  border-right: 0;
}

.description-block {
  display: grid;
  grid-template-columns: 300px 850px;
  grid-gap: 50px;
}

.description-block .description-block__img img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.description-block .description-block__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

.basket {
  display: grid;
  grid-template-columns: 795px 350px;
  grid-gap: 55px;
  margin-top: 30px;
}

.basket__item {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  padding: 30px 15px;
  padding-left: 30px;
  border-radius: 10px;
  transition: 0.3s;
  outline: none;
}

.basket__item:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.basket__item .basket__item__img {
  display: block;
}

.basket__item .basket__item__img img {
  width: 100px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.basket__item .basket__item__title-wrapper {
  position: relative;
  display: block;
  transition: 0.3s;
}

.basket__item .basket__item__title-wrapper:hover .basket__item__title {
  color: #1871C3;
  transition: 0.3s;
}

.basket__item .basket__item__title-wrapper .basket__item__title {
  display: block;
  max-width: 270px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basket__item .basket__item__title-wrapper .basket__item__title:hover + .basket__item__title_all {
  display: block;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.basket__item .basket__item__title-wrapper .basket__item__title_all {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 25px;
  left: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 15px;
  background-color: #fff;
  transform: translateY(-25px);
  transition: 0.3s;
  font-weight: bold;
}

.basket__item .basket__item__title-wrapper .basket__item__title_all:hover {
  display: block;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.basket__item .basket__item__few-products {
  color: #D32F2F;
  font-size: 14px;
  margin-top: 5px;
}

.basket__item .basket__item__delete {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  color: #D32F2F;
  font-size: 20px;
  border-radius: 100%;
  transition: 0.3s;
}

.basket__item .basket__item__delete:hover {
  background-color: #D32F2F;
  color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
}

.basket__item .basket__item__fabricator {
  color: #989898;
  margin-top: 10px;
}

.basket__item .product__count-btn {
  margin: 0;
  align-items: flex-start;
}

.basket__item .product__count-btn .circle-btn {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #DEDEDE;
}

.basket__item .product__count-btn .circle-btn .material-icons {
  font-size: 18px;
}

.basket__item .product__count-btn input {
  width: 50px;
  height: 37px;
  text-align: center;
  border: 0;
}

.basket__item .product__count-btn input::-webkit-outer-spin-button,
.basket__item .product__count-btn input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.basket__item .basket__item__price_all {
  font-size: 22px;
  font-weight: bold;
}

.basket__item .basket__item__price_one {
  position: relative;
  display: flex;
  align-items: center;
  color: #989898;
  margin-top: 10px;
}

.basket__item .basket__item__price_one .material-icons {
  font-size: 22px;
  margin-left: 5px;
}

.basket__item .basket__item__price_one .basket__item__price_one__text {
  position: absolute;
  transform: translateY(10px);
  top: 28px;
  left: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.info__btn:hover + .info__text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s;
}

.basket__order {
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.basket__order .basket__order__total-price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
}

.basket__order .order__count {
  margin-top: 10px;
}

.basket__order .order__line {
  margin: 15px 0;
  width: 60px;
  height: 2px;
  background-color: #D32F2F;
}

.basket__order .basket__order-form {
  margin-top: 15px;
}

.basket-empty {
  display: none;
}

.ck-editor {
  margin-top: 10px !important;
}

.edit-img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
}

.slider-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.slider-grid .slider-grid__img {
  position: relative;
}

.slider-grid .slider-grid__img .slider-grid__change-img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: saturate(180%) blur(3px);
          backdrop-filter: saturate(180%) blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  position: absolute;
  color: #fff;
  transition: 0.3s;
}

.slider-grid .slider-grid__img .slider-grid__change-img span {
  transition: 0.3s;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}

.slider-grid .slider-grid__img .slider-grid__change-img:hover {
  cursor: pointer;
}

.slider-grid .slider-grid__img .slider-grid__change-img .slider-grid__delete-item {
  position: absolute;
  top: 10px;
  right: 10px;
}

.slider-grid .slider-grid__img .slider-grid__change-img .slider-grid__delete-item .material-icons {
  color: #D32F2F;
}

.slider-grid .slider-grid__img .slider-grid__change-img .slider-grid__delete-item .material-icons:hover {
  background-color: #D32F2F;
  border-radius: 100%;
  color: #fff;
  padding: 10px;
}

.slider-grid .slider-grid__img img {
  border-radius: 5px;
  width: 100%;
  height: 115px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-grid .slider-grid__img:hover .slider-grid__change-img {
  opacity: 1;
  visibility: visible;
}

.slider-grid .slider-grid__add-slide {
  width: 100%;
  height: 100%;
  top: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #989898;
  border: 2px dashed #989898;
  border-radius: 10px;
  transition: 0.3s;
}

.slider-grid .slider-grid__add-slide:hover {
  color: #000;
  border: 2px dashed #000;
  transition: 0.3s;
  cursor: pointer;
}

.slider-grid .slider-grid__title {
  margin-top: 10px;
  text-align: center;
}

